
body{
	
	--main-site-color:  #68a2ff ;
  	background-color: #efefef ;  

}

.pure-button-inverted{
	color: var(--main-site-color);
	background-color: white ; 
	border-style: solid ; 
	border-width: 1px;
	border-color: var(--main-site-color);
}

#site-title{

	font-size: 2em ; 
	font-family: 'Economica', sans-serif;
}

.on-dark-text {
	color: white;
	
}

#nav-bar{

	background-color: var(--main-site-color) ;  
	box-shadow: 0px 2px 14px 4px rgba(0,0,0,0.21);
}

main{
	margin-top: 5% ;
}

.pure-button.pure-button-primary{
	background-color: var(--main-site-color); 
}

.island{
	box-shadow: 0px 2px 5px -3px rgba(0,0,0,1);
  	background-color: white ;
  	margin: 3px ;
  	padding: 5px;
  	border-radius: 4px; 
}

.center {
	text-align: center;
	margin-left: auto ;
	margin-right: auto ; 
}

footer{
	bottom: 0;
	position: absolute; 
}